<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.choretab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.choretab.Login"
            android:label="ChoreTab" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.choretab.WelcomeActivity"
            android:label="Welcome! Add a Roommie" >
        </activity>
        <activity
            android:name="com.example.choretab.AddRoomateActivity"
            android:label="Enter Roommate Information." >
        </activity>
        <activity
            android:name="com.example.choretab.EndActivity"
            android:label="Congratulations!" >
        </activity>
        <activity
            android:name="com.example.choretab.ChoreTalkActivity"
            android:label="ChoreTalk!" >
        </activity>
        <activity
            android:name="com.example.choretab.AddAChoreActivity"
            android:label="Add a Chore!" >
        </activity>
        <activity
            android:name="com.example.choretab.ChoreOrPunishementActivity"
            android:label="Choose either A Chore or Punishment." >
        </activity>
        <activity
            android:name="com.example.choretab.AddChoreActivity"
            android:label="Add a Chore!" >
        </activity>
        <activity
            android:name="com.example.choretab.AddPunishmentActivity"
            android:label="Add a Punishment!" >
        </activity>
        <activity
            android:name="com.example.choretab.HumiliationDescriptActivity"
            android:label="Describe the Humiliation!" >
        </activity>
        <activity
            android:name="com.example.choretab.MoneyPunishActivity"
            android:label="Describe the lost money!" >
        </activity>
    </application>

</manifest>
